.gafete {
	-fx-background-color: white;
	-fx-background-radius: 0.8em;
	-fx-border-color: #13144b;
	-fx-border-radius: 0.8em;
	-fx-border-width: 5;
}

.gafete:hover{
	-fx-effect: dropshadow(gaussian, #6fc1c4, 1em, 0.5, 2.0, 2.0);
}