.mainpane {
	-fx-background-color: black;
}

.label {
	-fx-text-fill: black;
	-fx-background-color: white;
	-fx-border-color: #94e0a8;
	-fx-border-width: 0 0 0.2em 0;
	-fx-font-weight: bold;
}

.table-view {
	-fx-background-color: transparent;
	-fx-border-color: #94e0a8;
	-fx-border-width: 0.2em 0;
}

.table-row-cell:selected .cell {
	-fx-background-color: white;
	-fx-text-fill:#94e0a8;
}

.columna-tabla {
	-fx-border-color: white;
	-fx-background-color: black;
}

.columna-tabla .arrow {
	-fx-background-color: white;

}

.table-view .cell {
	-fx-text-fill: #94e0a8;
}

.table-view:focused {
	-fx-border-width: 3.0;
}

.table-view>.filler {
	-fx-background-color: transparent;
}

#btn-tabla {
	-fx-background-color: #94e0a8;
}

#btn-tabla:hover {
	-fx-background-color: #76d78f;
}

#btn-tabla:pressed {
	-fx-background-color: #66d383;
}

.cell {
	-fx-background-color: white;
}

.table-row-cell:odd .cell {
	-fx-background-color: white;
}

.table-row-cell:selected .cell {
	-fx-background-color: #66d383;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}