* {
	-fx-primary-color: #000000;
	-fx-secondary-color: #303030;
	-fx-third-color: #404040;
    
	-fx-focus-color: #303030;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
	-fx-background-color: -fx-primary-color;
	-fx-background-radius: 0;
}
.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
	-fx-background-color: -fx-secondary-color;
}
.spinner .increment-arrow-button:hover:pressed,
.spinner .decrement-arrow-button:hover:pressed,
.spinner .increment-arrow-button:pressed,
.spinner .decrement-arrow-button:pressed {
	-fx-background-color: -fx-third-color;
}
.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow {
	-fx-background-color: white;
}